div{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.white-background{
    background : white;
    background : transparent;
    background: rgba(255, 255, 255, 0.75);
    position: fixed;
    height: 440px;
    top : 280px;
    left: 0;
    right: 0px;
}


.aboutMe-container{
    width : 100%;
    max-width:960px;
    margin-left : auto;
    margin-right: auto;
    display: flex;
}

.aboutMe-item{
    float : left;
    width : 20%;
    height: 160px;
}

.aboutMe-item img{
    width : 150%;
    height: 400px;  
    margin-top : 20px;
}

.overlay{
    position:absolute;
    background: rgba(0,0,0,0.5);
    width : 100%;
    height: 100%;
    opacity: 0;
}


.overlay p{
    color : white;
    font-size: 16px;
    text-align: center;
    padding-top: 72px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.overlay:hover{
    opacity: 1;
    transition: 1s;
}


.video-container{
    margin-top : 23px;
    margin-left : -80px;
}

.content-profile{
    margin-top : 32px;
}

.content-container .profile-subtitle,
.wannaBe-container .profile-subtitle{
    font-size: 1.5rem;
}

.content-container{
    margin: auto;
}
.content-container p{
    color : black;
    font-size : 17px;
    font-weight: 500;
    margin-left : 120px;
}

.content{
    font-size: 16px;
}

.clock-container{
    width : 100%;
    z-index : 3;
    margin : 0;
    text-align: right;
    margin-top : 480px;
    padding-top : 104px;
}

.clock-container span{
    font-size : 24px;
}

.wannaBe-container{
    margin-top : 64px;
}


video{
    width : 400px;
}