.container{
    width : 700px;
    margin :auto;
}

.text-area{
    width : 70%;
    height: 200px;
    float : left;
}

.profile{
    float : left;
}

.image-area{
    margin-left : 20px;
    width : 25%;
    float : left;
    height : 200px;
}

.name{
    font-size: 15px;
    float: left;
    margin:0px 10px 10px 10px;
}

.time{
    font-size: 10px;
    text-align: center;
}

.contents{
    font-size: 10px;
    margin-right : px;
}

.profile-pic{
    float:left;
}

.main-text{
    clear : both;
    padding-top : 5px;
    margin-top : 0px;
}



