div{
    box-sizing: border-box;
}

.clock-container{
    width : 100%;
    z-index : 3;
    margin : 0;
    text-align: right;
    margin-top : 45rem;
}

.clock-container span{
    font-size : 2rem;
}

.white-background{
    background : white;
    background : transparent;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    height: 440px;
    top : 280px;
    left: 0;
    right: 0px;
}

.like-container{
    display: flex;
    width: 100%;
    height: 80%;
    margin-top:1.5rem; 
    justify-items: center;
    font-family: 'Open Sans KR', sans-serif;
}

.like-container .like-contents{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3); 
}
.like-container .like-contents .like-image,
.like-container .like-contents video{
    margin: auto;
    width: 16rem;
    height: 16rem;
}
.like-container .like-contents video{
    width: 18rem;
    margin-top: 1rem;
}

.like_list_title{
    margin-top : 0.5rem;
    font-size : 24px;
    color : black;
    font-weight: 600;
    text-align: center;
    font-family: 'Open Sans KR', sans-serif;
}
.like_list_title.basket{
    margin-top: 1.5rem;
}


.like_list_description{
    margin-top : 8px;
    text-align: center;
    font-size: 16px; 
    color : black;
    font-family: 'Open Sans KR', sans-serif;
}


video{
    width : 304px;
    transform: scale(1);
    z-index: 0;
}